<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meeting.m2.dao.MeetingNotesMapper">
    <resultMap id="BaseResultMap" type="com.meeting.m2.pojo.MeetingNotes">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="trafficontes" property="trafficontes" jdbcType="VARCHAR"/>
        <result column="meetingcontes" property="meetingcontes" jdbcType="VARCHAR"/>
        <result column="notesfilename" property="notesfilename" jdbcType="VARCHAR"/>
        <result column="notesfileurl" property="notesfileurl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, mid, trafficontes, meetingcontes
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tb_meeting_notes
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getMeetingList" resultMap="BaseResultMap" parameterType="com.meeting.m2.pojo.MeetingNotes">
        select
        <include refid="Base_Column_List"/>
        from tb_meeting_notes
        where mid=#{mid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_meeting_notes
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.meeting.m2.pojo.MeetingNotes">
    insert into tb_meeting_notes (id, mid, trafficontes, 
      meetingcontes, notesfilename, notesfileurl
      )
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{trafficontes,jdbcType=VARCHAR},
      #{meetingcontes,jdbcType=VARCHAR}, #{notesfilename,jdbcType=VARCHAR}, #{notesfileurl,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.meeting.m2.pojo.MeetingNotes">
        insert into tb_meeting_notes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mid != null">
                mid,
            </if>
            <if test="trafficontes != null">
                trafficontes,
            </if>
            <if test="meetingcontes != null">
                meetingcontes,
            </if>
            <if test="notesfilename != null">
                notesfilename,
            </if>
            <if test="notesfileurl != null">
                notesfileurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="mid != null">
                #{mid,jdbcType=BIGINT},
            </if>
            <if test="trafficontes != null">
                #{trafficontes,jdbcType=VARCHAR},
            </if>
            <if test="meetingcontes != null">
                #{meetingcontes,jdbcType=VARCHAR},
            </if>
            <if test="notesfilename != null">
                #{notesfilename,jdbcType=VARCHAR},
            </if>
            <if test="notesfileurl != null">
                #{notesfileurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.meeting.m2.pojo.MeetingNotes">
        update tb_meeting_notes
        <set>
            <if test="mid != null">
                mid = #{mid,jdbcType=BIGINT},
            </if>
            <if test="trafficontes != null">
                trafficontes = #{trafficontes,jdbcType=VARCHAR},
            </if>
            <if test="meetingcontes != null">
                meetingcontes = #{meetingcontes,jdbcType=VARCHAR},
            </if>
            <if test="notesfilename != null">
                notesfilename = #{notesfilename,jdbcType=VARCHAR},
            </if>
            <if test="notesfileurl != null">
                notesfileurl = #{notesfileurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.meeting.m2.pojo.MeetingNotes">
    update tb_meeting_notes
    set mid = #{mid,jdbcType=BIGINT},
      trafficontes = #{trafficontes,jdbcType=VARCHAR},
      meetingcontes = #{meetingcontes,jdbcType=VARCHAR},
      notesfilename = #{notesfilename,jdbcType=VARCHAR},
      notesfileurl = #{notesfileurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>